#meals{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap:10px;
    
}


.item{
    /* border: 1px solid red; */
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: grey;

}
.item img{
    /* border: 1px solid red; */
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 300px;

}