#meals{
    margin-left: 50px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap:10px;
    
}


.item{
    
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: grey;

}
.item img{
    
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 300px;

}

#ingredients{
    margin: 5%;
    text-align: center;
}
#ingredients img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
#ingredient-title{
    color:red;
}
#search-container{
    text-align: center;
}
#input{
    width: 50%;
}
#search-btn{
    background-color:hotpink ;
    margin: 10px;
    padding:0px 15px;
    border-radius: 5px;
    color: white;
}
#error-message{
    text-align: center;
    color: red;
}